header {
    margin-bottom: 3em;
}

#high-scores-link {
    display: inline-block;
    justify-content: left;
    background: none;
    border: none;
    color: purple;
}

#time-text {
    float: right;
    justify-content: right;
}

#main-container {
    text-align: center;
    margin: 0 auto;
    width: 40em;
}

.button {
    background-color: purple;
    color: white;
}